<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Walkee"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".WalkerActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".OwnerActivity"
            android:exported="true">
        </activity>
        <activity android:name=".MiPerfilDueno"></activity>
        <activity android:name=".MisMascotasDueno"></activity>
        <activity android:name=".SolicitudPaseosDueno"></activity>
        <activity android:name=".TerminosCondicionesDueno"></activity>
        <activity android:name=".ElijaPlan"></activity>
        <activity android:name=".EsperandoPaseador"></activity>
        <activity android:name=".EvaluacionDueno"></activity>
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".ElijaUsuario"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".RegistroMascota"></activity>
        <activity android:name=".RegistroDebitoCredito"></activity>
        <activity android:name=".RegistroPaseador"></activity>
        <activity android:name=".DocPaseador"></activity>
        <activity android:name=".MiWallet"></activity>
        <activity android:name=".SolicitudPaseosPaseador"></activity>
        <activity android:name=".EncaminoPaseador"></activity>
        <activity android:name=".EvaMascota"></activity>
        <activity android:name=".MiPerfilPaseador"></activity>
        <activity android:name=".ViajesCursados"></activity>
        <activity android:name=".Tutoriales"></activity>
        <activity android:name=".ViajesCursados"></activity>
        <activity android:name=".VideoTutorial"></activity>

    </application>

</manifest>